.manage-container {
  display: flex;
  min-height: 100vh;
  height: auto;
  align-items: stretch;
  background-color: #f5f5f5;
  font-family: "Noto Sans KR", sans-serif;
}

.manage-page {
  flex-grow: 1;
  padding: 30px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.manage-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.subtitle {
  color: #aaa;
  margin-top: 6px;
}

.filter-bar {
  display: flex;
  gap: 10px;
}

.filter-bar select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-btn {
  background-color: #2cd0ae;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.manage-table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.manage-table th,
.manage-table td {
  border-bottom: 1px solid #eee;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

.manage-table th {
  background-color: #f0f0f0;
  font-weight: 600;
}

.driver-img {
  width: 30px;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

.status-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  color: white;
  display: inline-block;
}

.status-badge.on {
  background-color: #007bff;
}

.status-badge.off {
  background-color: #ccc;
}

.condition-dot {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 6px;
}

.condition-dot.위험 {
  color: red;
}
.condition-dot.불안 {
  color: orange;
}
.condition-dot.좋음 {
  color: #00c67c;
}

.driver-name {
  display: flex;
  align-items: center;
}

.manage-table td img {
  margin-right: 6px;
}

.manage-page h2 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.manage-table td,
.manage-table th {
  white-space: nowrap;
}
