.sidebar {
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  overflow: auto;

  width: 220px;
  background-color: white;
  padding: 20px;
  border-right: 1px solid #ddd;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.sidebar-logo {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

.sidebar-logo .sidebar-quote {
  color: #2cd0ae;
  font-size: 32px;
  vertical-align: middle;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-link {
  display: block;
  padding: 10px 14px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link:hover {
  background-color: #f3fbf9;
  color: #2cd0ae;
}

.sidebar-link.active {
  background-color: #2cd0ae;
  color: white;
  font-weight: 700;
}
